#banner-text{
    margin-left: -650px;
    margin-top: auto;
}
 #Books{
    margin-top: 50px;
 }
 #image{
    height: 400px;
    width: 250px;
    margin-left: 70px;
    margin-top: 30px;
 }
 #card{
    border: 1px solid #434040;
    border-radius: 20px;
    background: #f3eded3a;
    height: 650px;
    width: 400px;
 }